@media (min-width: 769px) and (max-width: 1020px) {
  .search__inner {
    text-align: center;
  }
  .search__inner-form input[type="search"] {
    width: 500px;
  }

  .traffic-police .trafficpolice__penalties-text,
  .taxes__content-text {
    margin-right: 48px;
  }

  .partners .partners__content-list {
    text-align: center;
    li {
      width: 25%;
      margin-top: 40px;
    }
  }

  .footer {
    min-height: 375px;
  }
  .footer .footer__inner {
    flex-wrap: wrap;
    margin: 0;
    .footer__copy,
    .footer__menu,
    .footer__contacts,
    .footer__copy-secondary {
      width: 50%;
      text-align: center;
    }

    .footer__copy {
      order: 1;
      margin-bottom: 10px !important;
    }

    .footer__copy-secondary {
      order: 2;
    }

    .footer__copy .footer__copy-image {
      margin-top: 20px;
    }
    .footer__copy,
    .footer__copy-secondary {
      margin-top: 50px;
    }
  }
}
@media (min-width: 769px) {
  .payment .payment__inner-content {
    li {
      margin-right: 10px !important;
    }
    img {
      display: none;
    }
  }

  .payment__inner-title-mobile {
    display: none;
  }

  .payment__fees-mobile {
    display: none;
  }

  .trafficpolice__penalties-text-mobile {
    display: none !important;
  }

  .trafficpolice__fees-text-mobile {
    display: none !important;
  }

  .debts__content-text-mobile {
    display: none !important;
  }

  .taxes__content-text-mobile {
    display: none !important;
  }

  .registry__content-text-mobile {
    display: none !important;
  }

  .payment__penalties-mobile {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .header {
    max-height: 40px;
  }
  .header img {
    margin-left: 20px;
    width: 220px;
  }

  .header .header__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    right: 0;
    z-index: 2;
  }

  .header__btn,
  .header__help-link {
    display: none;
  }

  .header__inner .header__help {
    display: block;
    width: 100%;
  }
  .header__inner .header__help-dropdown {
    box-shadow: none;
    position: absolute;
    right: 0px;
    transition: 0.5s;
    display: block;
    width: 100%;
    margin-top: 0px;

    ul {
      min-width: 100%;
    }
    li {
      min-width: 95%;
      margin-left: 20px;
      padding: 7px 0px 5px 16px;
    }
  }

  .header__inner .mobile-dropdown {
    transition: 0.5s;
    display: block;
    right: 999px;
  }

  .header__help-link {
    display: none;
  }

  .header__help-dropdown:after {
    display: none;
  }

  .header__help .header__btn-menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .header__help-dropdown .header__btn-mobile {
    display: block;
    text-align: center;
    border: 2px solid #0777ba;
    margin: 12px 8px;
    padding: 12px 0;
    a {
      border-bottom: none;
      width: 100%;
    }
  }

  .search__inner {
    max-height: 215px;
    text-align: center;
    position: relative;
  }
  .search__inner .search__inner-title {
    font-size: 21px;
  }
  .search__inner .search__inner-form input {
    max-width: 100%;
    padding: 17px 0px 16px 21px;
  }

  .search__inner-form .search-btn {
    display: none !important;
  }

  .search__inner .search__inner-subtitle {
    display: none;
  }

  .search__inner .search__magnifier-mobile {
    display: block;
    position: absolute;
    right: 10px;
    top: 105px;
  }
  .payment .container {
    padding: 0;
  }
  .payment__inner .payment__inner-title {
    font-size: 21px;
    display: none;
  }

  .payment__inner-title-mobile {
    text-align: center;
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 18px;
  }

  .accordion {
    position: relative;
    min-width: 100%;
    img {
      width: 31px;
      margin-right: 10px;
      margin-left: 3px;
      margin-bottom: 3px;
    }
  }

  .accordion__triangle {
    background-image: url("../images/accordion-triangle-up.png");
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
  }

  .triangle-open {
    background-image: url("../images/accordion-triangle-down.png");
  }

  .payment__inner .payment__inner-content {
    min-width: 100%;
    text-align: left;
    
    li:not(:last-child) {
      margin-right: 0;
      font-size: 18px;
      color: #0777ba;
      display: block;
      border-bottom: 1px solid #cedae4;
      padding: 12px 5px 12px 12px;
    }
    li:last-child {
      display: none;
    }

    /*Нажатие регистрируется на целый блок в ущерб border-bottom*/
    a {
      width: 80%;
      overflow: hidden;
      border-bottom: none;
    }
  }

  .debts__content-text_lower {
    margin-top: -40px;
  }

  .payment__penalties-desktop {
    display: none;
  }

  .accordion .trafficpolice__penalties-text-mobile,
  .accordion .trafficpolice__fees-text-mobile,
  .accordion .debts__content-text-mobile,
  .accordion .taxes__content-text-mobile,
  .accordion .registry__content-text-mobile {
    display: none;
    font-size: 14px;
    line-height: 21px;
    color: #231f20;
    span {
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #d30531;
      font-weight: 400;
    }
  }

  .trafficpolice__fees-text-mobile {
    display: none;
  }

  .debts__content-text-mobile {
    display: none;
  }

  .taxes__content-text-mobile {
    display: none;
  }

  .registry__content-text-mobile {
    display: none;
  }

  .traffic-police {
    display: none;
  }

  .debts {
    display: none;
  }

  .taxes {
    display: none;
  }

  .registry {
    display: none;
  }

  .partners .container {
    padding: 0;
  }
  .partners__inner-title {
    margin-top: -40px;
  }
  .partners__content .partners__content-list {
    padding-left: 0;
    text-align: center;
    ul {
      margin-top: -30px;
      margin-right: 15px;
    }
    li {
      padding: 0 !important;
      margin-top: 30px;
      width: 150px;
    }
  }

  .footer {
    margin-top: 50px !important;
    max-height: 150px;
    position: relative;
  }

  .footer .footer__inner {
    height: 150px;
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
  }

  .footer__inner .footer__copy {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    max-height: 20px;
    position: relative;
    img {
      position: absolute;
      right: 40%;
      top: 70px;
    }
  }

  .footer__copy-company {
    margin-left: 5px;
    text-align: center;
  }

  .footer__menu {
    display: none;
  }

  .footer__contacts {
    display: none;
  }

  .footer__copy-secondary {
    margin: 0 auto;
    min-width: 100%;
  }

  .footer__copy-secondary-text {
    text-align: center;
    margin: 0px 35px;
  }

  .footer__copy-secondary-image {
    display: none;
  }
  .footer .share-btn {
    position: absolute !important;
    bottom: 14px;
  }
}

@media (min-width: 320px) and (max-width: 395px) {
  .payment__inner-content {
    a {
      font-size: 14px !important;
      max-width: 70%;
    }
    p, span {
      font-size: 12px;
      margin-left: 5px;
    }
  }
}
