.header {
  min-height: 67px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.header__btn {
  border: 2px solid #0777ba;
  margin-left: 21px;
  text-align: center;
  a {
    padding: 9px 30px 12px 23px;
    color: #0777ba;
  }
}

.header__logo {
  background-image: url(../images/header-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 293px;
  height: 43px;
  cursor: pointer;
}

.header__help:hover {
  .header__help-dropdown {
    opacity: 1;
    visibility: visible;
  }
}

.header__help-link {
  margin-right: 21px;
  a {
    color: #0777ba;
  }
}

.header__help-dropdown {
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  transition: 0.5s ease-in;
  position: absolute;
  right: 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 5.31px 3.69px rgba(70, 79, 87, 0.1);
  z-index: 50;

  li {
    display: block;
    margin: 10px 4px 10px 5px;
  }
  li:hover {
    transition: 0.3s;
    background-color: #e6ecf1;
  }
  a {
    padding: 12px 0px 10px 16px;
    width: 229px;
    color: #0777ba;
  }
}

.header__help-dropdown:after {
  content: "";
  background-color: #fff;
  z-index: -10;
  width: 22px;
  height: 22px;
  position: absolute;
  right: 23px;
  top: -8px;
  transform: rotate(45deg);
  box-shadow: -7px -7px 8px -3px rgba(70, 79, 87, 0.1);
}
