.partners {
  margin-top: 75px;
}

.partners__inner-title {
  font-size: 24px;
  color: #231f20;
  text-align: center;
  margin-bottom: 46px;
}

.partners__content-list {
  padding-left: 8px;
  li {
    font-size: 12px;
    font-weight: 700;
    height: 110px;
    width: 155px;
    text-align: center;
  }

  div {
    padding-top: 25px;
    display: flex;
    justify-content: center;
  }
  li:not(:last-child) {
    padding-left: 12px;
    padding-right: 12px;
  }
  li:nth-child(4) {
    div {
      margin-top: 11px;
    }
  }

  /*IE fix*/
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    li:nth-child(4) {
      div {
        margin-top: 0px;
      }
      img {
        margin-bottom: 11px;
      }
    }
  }
}
